
.header {
    grid-area: h;
    background: green;
}

.header img {
    width: 20px;
    height: 20px;
}

.loginBlock {

}

.loginBlock a {
    color: white;
}

.logOut {
    margin: 20px;
}

.logOut button {
    padding: 5px;
    cursor: pointer;
}