.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;

  grid-template-areas:
          'h h'
          'n c';

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: c;
  background: #9898c9;
}

.header {
  grid-area: h;
  background: green;
}

.header img {
  width: 20px;
  height: 20px;
}

.loginBlock {

}

.loginBlock a {
  color: white;
}

.nav {
  grid-area: n;
  background: #dbdb61;
  padding: 20px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.activeLink {
  color: #ff5900
}


